In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('다목적댐_운영_정보(시자료)_2024년_11월.csv')
df

,dam_nm,msmt_tm,rsvr_wal_hg,rain_qy,inflow_qy,tot_dcwtr_qy,rsvwt_qy,dam_rsvwt_rt
0,주암(본),2024113024,107.1075,0.0,0.000,16.514,369.5589,80.9
1,주암(본),2024113023,107.1107,0.0,13.971,16.054,369.6390,80.9
2,주암(본),2024113022,107.1110,0.0,2.618,16.535,369.6465,80.9
3,주암(본),2024113021,107.1130,0.0,2.293,16.876,369.6966,80.9
4,주암(본),2024113020,107.1151,0.0,20.348,16.876,369.7491,80.9
...,...,...,...,...,...,...,...,...
15115,소양강,2024110223,190.0491,0.0,6.528,0.000,2257.9871,77.9
15116,소양강,2024110222,190.0487,0.0,10.623,2.484,2257.9636,77.9
15117,소양강,2024110221,190.0482,0.0,150.003,84.753,2257.9343,77.9
15118,소양강,2024110402,190.0918,0.0,75.083,0.000,2260.4954,78.0
15119,소양강,2024110401,190.0872,0.0,26.111,0.000,2260.2251,77.9

In [ ]:
from IPython.display import Image